$gameContainerBackground: red;


html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom, rgba(140, 184, 255, 1), rgba(140, 184, 255, 0));
}

.game-container {
  box-sizing: border-box;
  padding: 30px 15px;
  display: block;
  width: 320px;
  height: 100%;
  margin: 0 auto;
  background-color: $gameContainerBackground;
}

.center-text {
  text-align: center;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}



.delayedShow {
  visibility: hidden;
  animation: 0s linear 30s forwards delayedShow;
}

.delayedHide {
  visibility: visible;
  animation: 0s linear 30s forwards delayedHide;
}

@keyframes delayedShow {
  to {
    visibility: visible;
  }
}

@keyframes delayedHide {
  to {
    visibility: hidden;
  }
}

.countdown:before {
    content: '302928272625242322212019181716151413121110090807060504030201';
    font-family:monospace;
    display:inline-block;
    width: 2ch;
    overflow:hidden;
    animation:countdowns 30s steps(30);
}


@keyframes countdowns {
    0% {text-indent:0;}
    100% {text-indent:-60ch;}
}

.health-bar {
  position: relative;
  width: 100px;
  height: 10px;
  background-color: red;
  .hb-current-health {
    height: 10px;
    background-color: green;
    width: 100%;
  }
}
